body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  user-select: none;
  position: relative;
  overflow: hidden;
}
#title {
    font-size: 3em;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    z-index: 3;
    transform: perspective(500px) rotateY(19deg) rotateX(29deg);
    display: inline-block;
    position: relative;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 rgba(0, 0, 0, 0.2), 6px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
}

#title::before {
    content: attr(data-shadow);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-4px, 4px);
    color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 9px;
  position: relative;
  user-select: none;
}
.cell { 
  width: 100px; 
  height: 100px; 
  display: none;
  justify-content: center; 
  align-items: center; 
  font-size: 6em; 
  border: 1px solid transparent; 
  cursor: pointer;
  background-color: rgb(31, 31, 31); 
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  opacity: 96%;
  z-index: 2;
}
.cell:disabled {
  z-index: 0;
}
.cell::before, .cell::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid;
  border-radius: inherit;
  animation: rgbBorder 2s linear infinite;
  
}
.cell::before {
  border-color: red;
  animation-delay: 0s;
}
.cell::after {
  border-color: blue;
  animation-delay: 1s;
}
@keyframes rgbBorder {
  0% {
      border-color: red;
  }
  33% {
      border-color: green;
  }
  66% {
      border-color: blue;
  }
  100% {
      border-color: red;
  }
}
.cell:hover, .cell.clicked {
  transform: scale(1.1);
  border-radius: 50%;
}
.cell.x { 
  color: rgb(255, 64, 0);
  animation: xAnimation 0.5s forwards;
}
.cell.o { 
  color: rgb(2, 210, 72);
  animation: oAnimation 0.5s forwards;
}
@keyframes xAnimation {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes oAnimation {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
.winning-cell.x {
  background-color: rgba(255, 64, 0, 0.5);
}
.winning-cell.o {
  background-color: rgba(2, 210, 72, 0.5);
}
#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px; /* Valeurs originales du padding */
  font-size: 2em;
  background: linear-gradient(to bottom, #40e0d0, #20b2aa);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 83%;
  z-index: 2;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.25); /* Épaississement du box shadow */
  user-select: none;
  outline: none;
}

#play-button:hover {
  opacity: 73%;
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 6px 10px rgba(0, 0, 0, 0.15), inset 0 -5px 0 rgba(0, 0, 0, 0.25);
  user-select: none;
  outline: none;
}

#play-button:active {
  transform: translate(-50%, -50%) scale(0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.4);
  user-select: none;
  outline: none;
}

#play-button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  user-select: none;
  outline: none;
}
#reset-button {
    position: absolute; 
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5em;
    background: linear-gradient(to bottom, #ff4c4c, #d80000); /* Effet de gradient rouge */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow 0.2s ease-in-out;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

#reset-button:hover {
    opacity: 73%;
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 12px 20px rgba(0, 0, 0, 0.1), inset 0 -4px 0 rgba(0, 0, 0, 0.3);
}

#reset-button:active {
    transform: translate(-50%, -50%) scale(0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.4);
}

#alert-message {
    font-size: 2em;
    color: white;
    text-align: center;
    display: none;
}
#alert-message.x {
    color:rgb(255, 64, 0);
    z-index: 2;
}
#alert-message.o {
    color: rgb(2, 210, 72);
    z-index: 2;
}
#alert-message.draw {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
    z-index: 2;
}
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 2;
}
#modal.show {
    opacity: 1;
    z-index: 2;
}
#modal-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}
#modal-message {
    font-size: 3em;
    z-index: 2;
}
#player-turn {
    margin-top: 20px;
    font-size: 2em;
    color: white;
    text-align: center;
    z-index: 2;
}
#player-turn.x {
    color:rgb(255, 64, 0);
    z-index: 2;
}
#player-turn.o {
    color: rgb(2, 210, 72);
    z-index: 2;
}
#mode-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background: linear-gradient(to bottom, #00fb00, #008f00); /* Effet de gradient vert */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 83%;
    z-index: 2;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.15), inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

#mode-button:hover {
    opacity: 73%;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 12px 20px rgba(0, 0, 0, 0.1), inset 0 -4px 0 rgba(0, 0, 0, 0.3);
}

#mode-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.4); 
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  margin: 0;
  overflow: hidden;
  position: relative-block;
  user-select: none;
}
.flame-emoji {
  font-size: 50px;
  position: absolute;
  animation: flame-flicker 1.02s infinite;
  z-index: 1;
  user-select: none;
}
@keyframes flame-flicker {
  0% {transform: translate(0);}
  50% {transform: translate(5px);}
  100% {transform: translate(0);}
  0% {transform: rotate(-2deg);}
  20% {transform: rotate(2deg);}
  40% {transform: rotate(-2deg);}
  60% {transform: rotate(4deg) scaleY(1.1);}
  80% {transform: rotate(-4deg) scaleY(0.92);}
  100% {transform: rotate(2deg);}
}
